BASE_URL='https://api.themoviedb.org/3/'
API_TOKEN='eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1YjE0OGU4OWUyOGFiZjRiYjk3ZGE3ODE3NjE5MjVhNCIsIm5iZiI6MTczMTExODMxOS42Njg0OTM1LCJzdWIiOiI2MjMzNTA3NDUzODY2ZTAwNDg1MTk2ODYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.L_gcAaPBZOAVnHH6aydo-Qwh7qsEPMiyLWF_tzHYwOs'